$background: #252523;
$background-dark: #181818;
$icon-default-color : #353535;
$icon-active-color: #00ffff;


*{
  margin: 0;
  font-family: sans-serif;
}
body{
  background: $background;
}

nav{
  // position: fixed;
  // top: 0;
  // left: 0;
  background: $background-dark;
  display: inline-flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-around;



  .main_nav_items{
    margin-top: 120px;;
      .nav_item{
        padding: 8px 16px;
        margin: 8px 0;
        width: 56px;
        height: 48px;
        // background: rgba(red, 0.1);
        fill: #353535;
        display: flex;
        align-items: center;
        justify-content: center;
        svg{
          width: 38px;
          height: 38px;
        }
        span{
          color: $icon-active-color;
          font-size: 16px;
          display: none;
          text-transform: uppercase;
        }

        &.active{
          fill: $icon-active-color;
        }
        &:hover{
          cursor: pointer;
            svg{
              display: none;
            }
            span{
              display: block;
            }
        }
      }
  }
  .secondary_nav_items{

    display: flex;
    flex-direction: column;
    align-items: center;

    .nav_item{
      fill: $icon-default-color;
      svg{
        width: 32px;
        height: 32px;
        padding: 4px 0;
      }
      &:hover{
        fill: red;
        cursor: pointer;
      }
    }

  }
}
