$background: #252523;
$background-dark: #181818;
$icon-default-color: #353535;
$primary-color: #08fdd8;
$secondary-color: #fc6557;
$progress-bar-height: 15px;

@function test_backgroud($color) {
  @return rgba($color, 0.2);
  // @return rgba($color, 0.0);
}


@keyframes progress-fill{
  0% {

  }
  100%{

  }
}

//box sizing fix
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}





// button
%btn {
  font-size: 1.8em;
  padding: 8px 16px;
  border: 2px solid $primary-color;
  border-radius: 2px;
  font-weight: 300;
  color: $primary-color;
  margin-top: 36px;
  background: none;

  &:hover {
    cursor: pointer;
    background: $primary-color;
    color: $background;
  }
}






* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: white;
}

body {
  background: $background;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  background: $background-dark;
  display: inline-flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-around;

  .main_nav_items {
    margin-top: 120px;;
    .nav_item {
      padding: 8px 16px;
      margin: 8px 0;
      width: 56px;
      height: 48px;
      // background: rgba(red, 0.1);
      fill: #353535;
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        width: 38px;
        height: 38px;
      }
      span {
        color: $primary-color;
        font-size: 16px;
        display: none;
        text-transform: uppercase;
      }

      &.active {
        fill: $primary-color;
      }
      &:hover {
        cursor: pointer;
        svg {
          display: none;
        }
        span {
          display: block;
        }
      }
    }
  }

  .secondary_nav_items {
    display: flex;
    flex-direction: column;
    align-items: center;

    .nav_item {
      fill: $icon-default-color;
      svg {
        width: 32px;
        height: 32px;
        padding: 4px 0;
      }
      &:hover {
        fill: red;
        cursor: pointer;
      }
    }

  }
}

header {
  display: flex;
  justify-content: space-around;
  height: 100vh;
  width: 100vw;
  padding-left: 50px;
  // background: test_backgroud(red);
  align-items: center;
  box-sizing: border-box;
  .main_heading_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    .main_heading {
      color: white;
      font-size: 8em;
      font-weight: bold;
      line-height: 0.9em;
      word-spacing: 5px;
      span {
        color: $secondary-color;
      }
    }
    .sub_heading {
      margin-top: 16px;
      color: white;
      font-weight: 300;
      font-size: 2em;
    }
    .button {
      font-size: 1.8em;
      padding: 8px 16px;
      border: 2px solid $primary-color;
      border-radius: 2px;
      font-weight: 300;
      color: $primary-color;
      margin-top: 36px;

      &:hover {
        cursor: pointer;
        background: $primary-color;
        color: $background;
      }
    }
  }
  .image_container{
    background: $secondary-color;
    border-radius: 46% 54% 28% 72% / 58% 77% 23% 42% ;
    img{
      transform: scale(0.9);
    }
  }
}

section{

}

.about{
  background: test_backgroud(pink);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  text-align: left;
  padding-left: 150px;
  h1{
    font-size: 6em;
    color: $primary-color;
  }
  p{
    width: 650px;
    font-size: 1.2em;
    font-weight: 300;
  }
}


.skills{
  background: test_backgroud(yellow);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  text-align: left;
  padding-left: 150px;
  h1{
    font-size: 6em;
    color: $primary-color;
  }
  p{
    width: 650px;
    font-size: 1.2em;
    font-weight: 300;
  }
  .bar{
    height: $progress-bar-height;
    border-radius: 2px;
    width: 1100px;
    margin: 16px 0;
    // background: $secondary-color;
    display: flex;
    span{
      font-size: 1.2em;
      margin: 0 16px;
      width: 10%;
    }
    .bar-progress{
      width: 90%;
      background: white;
      height: $progress-bar-height;

      &.progress-60{
        width: 50%;
      }
      &.progress-70{
        width: 55%;
      }
      &.progress-80{
        width: 60%;
      }
      &.progress-90{
        width: 65%;
      }
      &.progress-100{
        width: 70%;
      }

    }

  }

}

.portfolio{
  background: test_backgroud(blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  // height: 100vh;
  text-align: left;
  h1{
    margin-top: 50px;
    font-size: 6em;
    color: $primary-color;
  }
  h3{
    font-size: 2em;
    font-weight: 300;
    margin-bottom: 24px;
    a{
      text-decoration: none;
      color: $secondary-color;
    }
  }
  .portfolio-item-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 960px;
    // background: test_backgroud(red);
  }
  .portfolio-item{
    position: relative;
    margin: 8px 0;

    a{
      position: absolute;
      top:50%;
      left:50%;
      font-size: 1.4em;
      transform: translate(-50%,-50%);
      text-decoration: none;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 120px;
      height: 120px;
      background: $secondary-color;
      border-radius: 50% 50%;
    }
    figcaption{
      background: rgba(black, 0.8);
      font-size: 1.4em;
      font-weight: 300;
      position:absolute;
      bottom: 0;
      left: 0;
      right: 0;
      display: block;
      img{
        width: 10px;
        height: 10px;
        // overflow: hidden;
      }
      span{
        display: block;
      }

    }
  }
}

.contact{
  width: 100vw;
  height: 100vh;
  padding-left: 100px;
  display: flex;
  .contact-info{
    width: 100%;
    // background: test_backgroud(pink);
    h1{
        margin-top: 100px;
        font-size: 6em;
        color: $primary-color;
    }
    form{
      display: flex;
      flex-direction: column;
      padding: 20px;
    }
    input[type='text'],input[type='email']{
      background: $background-dark;
      height: 48px;
      border: none;
      padding: 16px;
      font-weight: 300;
      font-size: 1.4em;
      margin: 4px 0;
    }
    input[type='submit']{
      @extend %btn;

    }
  }
  .map-container{
    width: 100%;
    background: test_backgroud(yellow);
  }
}
